.blackout {
    // display: none;
    visibility: hidden;
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: visibility 0.2s;
}
