// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: $brand-color-gradient;
    transition: all 0.4s;
    border: none;
    &:disabled {
        background: #767474;
    }
    &:hover {
        background: #e47209;
    }
    &:active {
        background: #4b9200;
    }
}
.button_oval {
    border-radius: 25px;
}
.button-arrow-left {
    img {
        display: block;
        margin: 40% auto;
        transform: rotate(180deg);
    }
    background-color: $brand-color;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: absolute;
    top: 38%;
    left: 6.45%;
    transform: translate(0%, -50%);
    border: none;
    transition: background-color 0.4s;
    &:active {
        background-color: #4b9200;
    }
}
.button-arrow-rigth {
    img {
        display: block;
        margin: 40% auto;
    }
    background-color: $brand-color;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: absolute;
    top: 38%;
    right: 6.45%;
    transform: translate(0%, -50%);
    border: none;
    transition: background-color 0.4s;
    &:active {
        background-color: #4b9200;
    }
}
