.logo {
    position: relative;
    padding: 3.5px;
    height: 54.6px;
    border: 1.18841px solid #ffffff;
    a {
        color: $text-color2;
        h1,
        h2 {
            margin: 0;
            padding: 0;
            line-height: 120%;
            text-align: center;
            font-weight: 400;
            font-size: 19.0145px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 11px;
        background-image: url("../assets/icons/bamboo.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 10px;
        height: 20px;
        color: $text-color2;
    }
}
.header .logo {
    a {
        h1,
        h2 {
            @media (max-width: $breakpoints-medium) {
                font-size: 12.28px;
            }
        }
    }
    &::after {
        @media (max-width: $breakpoints-medium) {
            bottom: -4px;
            left: 4px;
            background-size: 66% auto;
        }
    }
    @media (max-width: $breakpoints-medium) {
        padding: 0px 0px 0px 0px;
        height: 29.45px;
        border: 0;
    }
}
.footer .logo {
    @media (width: 320px) {
        border: 0;
        background-position: center;
        background-image: url("../assets/images/logo.svg");
        height: 20px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        a {
            display: none;
        }
        &::after {
            display: none;
        }
    }
}
