.menu-nav {
    display: flex;
    @include adaptiv-value(gap, 58, 48, 1600, 1000);
    align-items: center;
    flex-wrap: nowrap;

    &__item {
        list-style: none;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: $text-color2;
        background-image: none;
        &.active {
            pointer-events: none;
            cursor: default;
            color: transparent;
            background-image: $brand-color-gradient;
            -webkit-background-clip: text;
        }
        &:hover {
            color: transparent;
            background-image: $brand-color-gradient;
            -webkit-background-clip: text;
        }
    }
}
