@import "../../assets/styles/fonts/fonts.scss";
@import "../../assets/styles/normalize/normalize.css";
@import "../../assets/styles/header/header.scss";
@import "../../assets/styles/buttons.scss";
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container {
    max-width: 1160px;
    // padding: 0 15px;
    margin: 0 auto;
}

.page {
    &__favorite-animal {
        background-image: url("../../assets/images/Giant\ Panda.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
}
.favorite-animal {
    &__block {
        position: relative;
        padding-top: 86px;
        padding-bottom: 100px;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            top: 12px;
            right: 95px;
            z-index: -1;
            background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
            width: 465px;
            height: 465px;
            border-radius: 50%;
        }
    }

    &__title {
        color: #ffffff;
        margin: 0;
        font-weight: 700;
        font-size: 106.496px;
        line-height: 80px;
        // line-height: 75%;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 60px;
        span {
            color: #ffee2e;
        }
    }

    &__button {
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        display: block;
        margin: 0 auto;
        transition: "background" 0.4s;
        &:hover {
            background: #e47209;
        }
        &:active {
            background: #4b9200;
        }
    }
    .container {
        display: flex;
        justify-content: flex-end;
    }
}
