// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    background-color: #111115;
    padding-top: 38px;
    padding-bottom: 50px;
    &__first-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
        position: relative;
        @media (min-width: $breakpoints-large) and (max-width: 1250px) {
            padding-right: 30px;
        }
    }

    &__second-row {
        .footer__button {
            padding: 16px 50px;
            border-radius: 5%;
        }
        margin-bottom: 30px;
    }

    &__third-row {
        display: flex;
        justify-content: space-between;
        .social-list {
            display: block;
            list-style: none;
            margin-right: 115px;
            padding: 0;
            .social-link {
                display: flex;
                gap: 12px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                padding-bottom: 10px;
                &:last-child {
                    padding-bottom: 0px;
                }
                a {
                    color: #ffffff;
                }
                &:active {
                    a {
                        color: #4b9200;
                    }
                    .social__icons {
                        background-color: #4b9200;
                    }
                }
            }
            .social__icons {
                position: relative;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                background-color: rgba(196, 196, 196, 0.5);
                width: 26px;
                height: 26px;
                border-radius: 50%;
            }
        }
    }
    &__designed {
        align-self: flex-end;
        padding-bottom: 15px;
        a {
            padding-bottom: 10px;
            display: block;
            font-weight: 100;
            font-size: 16px;
            line-height: 130%;
            color: #ffffff;
            &:last-child {
                padding-bottom: 0;
            }
            &:active {
                color: #4b9200;
                text-decoration: underline;
            }
        }
    }
    &__menu-nav {
        align-self: flex-end;
        padding-bottom: 18px;
        li {
            list-style: none;
        }
        a {
            color: #ffffff;
            background-image: none;
            &:hover {
                color: transparent;
                background-image: $brand-color-gradient;
                -webkit-background-clip: text;
            }
            &.active {
                pointer-events: none;
                cursor: default;
                color: transparent;
                background-image: $brand-color-gradient;
                -webkit-background-clip: text;
            }
        }
        @media (min-width: $breakpoints-large) and (max-width: 1250px) {
            margin-left: -24px;
        }
    }

    @media (min-width: $breakpoints-large) and (max-width: 1250px) {
        .container {
            max-width: $breakpoints-large;
            padding: 0 18px 0 43px; /* 1 */
        }
    }
}

.subscribe-form {
    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #ffffff;
    }
    &__input {
        background-color: inherit;
        margin-top: 13px;
        margin-right: 10px;
        padding: 7px 27px 10px 10px;
        &:placeholder-shown {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #bdbdbd;
        }
    }
    &__button {
        padding: 10px 39px;
        background: #f1f3f2;
        border-radius: 5px;
    }
    .subscribe-submit {
        &:valid {
            .subscribe-form__button {
                border: 1px solid #333b41;
            }
            .subscribe-form__input {
                border-radius: 5px;
                color: #bdbdbd;
                border: 1px solid #f9804b;
                outline: none;
            }
        }

        &:invalid {
            .subscribe-form__button {
                border: 1px solid #d31414;
                color: #d31414;
            }
            .subscribe-form__input {
                border-radius: 5px;
                color: #d31414;
                border: 1px solid #d31414;
                outline: none;
            }
        }
        &:active {
            .subscribe-form__button {
                border: 1px solid #4b9200;
                color: #4b9200;
            }
            .subscribe-form__input {
                border-radius: 5px;
                border: 1px solid #4b9200;
                outline: none;
            }
        }
    }
}
