// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";

.header {
    position: relative;
    z-index: 2;
    flex: 0 0 auto;
    background-color: #000000;
    padding: 13px 0;

    &__container {
        display: flex;
        align-items: center;
        position: relative;
    }
    &__menu {
        padding-left: 63px;
        white-space: nowrap;
        li:nth-last-child(1) {
            @include adaptiv-value("padding-left", 380, 20, 1);
            // padding-left: 380px;
        }
    }
}
