// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";

.header {
    flex: 0 0 auto;
    background-color: #000000;
    padding: 13px 0;

    &__container {
        display: flex;
        align-items: center;
        position: relative;
    }
    &__menu {
        padding-left: 63px;
        li:nth-last-child(1) {
            padding-left: 380px;
        }
    }
}
