// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";
.donate-page {
    .favorite-animal {
        height: 386px;
        background-position: center;
        @media (min-width: $breakpoints-large) and (max-width: 1250px) {
            background-size: 161% auto;
            background-position: -179px;
            height: 390px;
        }
        @media (min-width: $breakpoints-medium) and (max-width: 999px) {
            background-size: 218% auto;
            background-position: -282px -136px;
            height: 369px;
        }
        @media (min-width: $breakpoints-small) and (max-width: 639px) {
            background-size: 230% auto;
            background-position: 32% 39%;
            height: 221px;
        }
    }
}

// 4. Layout-related sections
@import "../layout/donations";
